/* body{
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
} */
body{
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

#nav_bar{
    background-color: black; 
    /* /* z-index: 0; */
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 50px;
    padding-top: 0px; 
    text-align: start;
    vertical-align: -webkit-baseline-middle;
    font-family: 'Poppins', sans-serif;
    display: inline;
    /* margin-top: 0px;
    height: 60px;
    margin-bottom: 0px; */
}
#nav_bar a{
    /* align-content: flex-end; */
    /* display: flex; */
    /* float: left; */
    vertical-align: -webkit-baseline-middle; 
    /* justify-content: center; */
    /* align-items: center;
    justify-content: center; */
    padding-right: 25px;
    padding-left: 10px;
    /* margin: 0;  */
    text-decoration: none;
    color: white;
    display: inline-block;
}

#nav_bar img{
    display: inline-block; 
    padding-top: 0px;
    vertical-align: middle;
    float: right;
    /* margin-right: inherit; */
    /* padding-left: 300px;  */
    /* align-content: center; */
}

#homepage{
    text-align: center;
    color: white;  
    padding-top: 100px;
    /* margin-top: 100px; */
    margin-bottom: 500px;
     
}

#social_media{ 
    display: flex; 
    justify-content: center; 
}

.Instagram{
    margin-right: 20px; 
}

.LinkedIn{
    margin-right: 20px; 
}

#About{
    text-align: center;
    color: white; 
    margin-left: 50px;
    margin-right: 50px; 
    margin-top: 500px;
    background-color: black;
}   

#Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    margin-top: 0;
}

p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}