body{
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
#homepage{
    text-align: center;
    color: white;  
    margin-top: 100px; 
}

/* #social_media img{
    width: 10%;
    height: auto;   
} */

#social_media{ 
    display: flex; 
    justify-content: center; 
}

#top{
    margin-top: 325px;
    margin-bottom: 325px; 
}

#Picture{
    text-align: center;
    font-size: 25px; 
}
.Instagram{
    margin-right: 20px; 
}

.LinkedIn{
    margin-right: 20px; 
}

#About{
    text-align: center;
    color: white; 
    margin-left: 50px;
    margin-right: 50px; 
}   